%li{:id => "denounce-#{denounce.id}"}
  %span.content
    = "#{denounce.show_author} denounces #{denounce.denounced_user.decorate.nick_or_name}"
    %br
    = denounce.content
  %span.timestamp
    = "#{denounce.town.name}, #{time_ago_in_words(denounce.created_at)} #{I18n.t('ago')}."
