= simple_form_for([@town, @denounce], html: { class: 'form-horizontal' }) do |f|

  = f.association :denounced_user, collection: User.without_me(current_user).with_nick_or_name.decorate, label_method: :nick_or_name
  = f.input :content
  = f.association :denounce_type, collection: current_user.allowed_denounce_types, include_blank: false

  = f.button :submit

:javascript
  $(document).ready(function() {
    $('select#denounce_denounced_user_id').select2();
  });
