= simple_form_for([@town, @denounce], html: { class: 'form-horizontal' }) do |f|

  = f.association :denounced_user, collection: User.all.decorate, label_method: :nick_or_name
  = f.input :content
  = f.association :denounce_type, collection: DenounceType.all

  = f.button :submit

:javascript
  $(document).ready(function() {
    $('select#denounce_denounced_user_id').select2();
  });
