<%= form_with(model: @denounce, local: true) do |form| %>
  <% if @denounce.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(denounce.errors.count, "error") %> prohibited this denounce from being saved:</h2>

      <ul>
      <% denounce.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
    <%= form.label :denounced_user %>

    <%= form.collection_select :denounced_user_id, @users, :id, :email %>
    </p>
    <p>
    <%= form.label :town %>
    <%= form.collection_select :town_id, @towns, :id, :name %>
    </p>
    <p>
    <%= form.label :content %>
    <%= form.text_field :content, id: :denounce_content %>
    </p>
    <p>
    <%= form.label :denounce_type %>
    <%= form.collection_select :denounce_type_id, @denounce_types, :id, :name %>
    </p>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
