.row
  %aside.col-md-4
    %section.user_info
      %h2
        = @user.name
      %h4
        = "@#{@user.nick}"
      %h4
        = "#{@user.points} #{"point".pluralize}!"

      = link_to I18n.t('edit'), edit_user_registration_path, class: "btn btn-info"
  .col-md-8
    =render 'shared/user_feed'
