.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      = link_to root_path do
        .navbar-brand
          Cynk app
    %ul.nav.navbar-nav.navbar-right
      - unless user_signed_in?
        %li
          = link_to 'Sign in', new_user_session_path
        %li
          = link_to 'Sign up', new_user_registration_path
      - else
        %li
          = link_to 'Log out', destroy_user_session_path
        %li
          = link_to 'Account', edit_user_registration_path
