.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      = link_to root_path do
        .navbar-brand
          Cynk app
    %ul.nav.navbar-nav.navbar-right
      - unless user_signed_in?
        %li
          = link_to I18n.t('sign_in'), new_user_session_path
        %li
          = link_to I18n.t('sign_up'), new_user_registration_path
      - else
        %li
          = link_to I18n.t('log_out'), destroy_user_session_path, method: :delete
        %li
          = link_to current_user.nick, current_user
