.container
  .row
    .col-md-8
      - if @denounces.empty?
        = t('no_denounces_in_town')
      - else
        %ol.microposts
          = render @denounces
        = will_paginate @denounces
    .col-md-4
      - if User.without_me(current_user).with_nick_or_name.empty?
        = t('nobody_to_denounce_yet')
      - else
        = render 'denounces/form'
